*/__pycache__/*
*.pyc
*/airbnbClone/airbnbClone/__pycache__/*
airbnbClone/airbnbClone/__pycache__/*
airbnbClone\airbnbClone\__pycache__\*
airbnbClone/basic_func/__pycache__/forms.cpython-37.pyc
*.pyc
airbnbClone/airbnbClone/__pycache__/settings.cpython-37.pyc
airbnbClone/basic_func/__pycache__/forms.cpython-37.pyc
.vscode/settings.json

.mysql_history


.vscode
.idea
original
.DS_Store