{% extends 'adminlte/base.html' %}

{% block body_block %}
  {% load socialaccount %}
  <h1>3900 Project</h1>

  {% if user.is_authenticated %}

    <p>Welcome {{ user.username }} !!!</p>

    <div class="">
      <a class="btn btn-primary" href="{% url 'basic_func:User_logout' %}">
        <span class="fa fa-id-card"></span> Logout
      </a>
    </div>

  {% else %}
  <div class="jumbotron">

    {% if loginForm.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
    {% endif %}


    <form method="post">
      {% csrf_token %}
      {{loginForm.as_p}}
      <input class="btn btn-primary" type="submit" name="" value="Login">
      <a class="btn btn-primary" href="{% url 'basic_func:User_register' %}">
        <span class="fa fa-id-card"></span> Register
      </a>
    </form>

  <div>
   Or you can login with:
   <a href="{% provider_login_url 'facebook' %}" class="btn btn-md fa fa-facebook"></a>
   <a href="{% provider_login_url 'github' %}" class="btn btn-md fa fa-github"></a>
   </div>

    <div>
      <a href="{% url 'account_reset_password' %}">
        <span class="fa fa-id-badge"></span> Forgot your password ?
      </a>
      </div>

    </div>

  </div>


{% endif %}

{% endblock body_block %}
