{% extends "basic_func/base.html" %}
{% load staticfiles %}
{% block body_block %}
  <h1>Register form</h1>

  <div class="jumbotron">

    {% if registered %}

      <form action="{% url 'basic_func:home' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="" value="{{user_name}}">
        <input type="hidden" name="" value="{{user_password}}">
        <h1>
          thanks for registering, click to
          <button class="btn btn-primary" type="submit">Submit</button>
        </h1>
      </form>

    {% else %}

      <h1>You are here to register </h1>
      <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{user_form.as_p}}
        {{profile_form.as_p}}
        <input type="submit" class="btn btn-green" name="registerBtn" value="register">
      </form>
    
    {% endif %}

  </div>

{% endblock body_block %}
